.topnav {
  background-color: #F4FAFF;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #12130f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #a3320b;
}

.topnav a.active {
  color: #a3320b;
}

div {
    background-image: url('https://scx1.b-cdn.net/csz/news/800/2017/theoreticala.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #FFFFFF;
}
  
