.topnav, .footnav {
  background-color: #F4FAFF;
  overflow: hidden;
}

.background {
  background-color: #F4FAFF;
}

.h2, .h3 {
  margin-top : 2Opx; 
}

.topnav a {
  float: right;
  color: #12130f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #a3320b;
}

.topnav a.active {
  color: #a3320b;
}

.footnav a {
  float: right;
  color: #12130f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.cover-image {
    background-image: url('https://cdn-s-www.leprogres.fr/images/5C997278-935C-4A13-BFF4-FC1A54AC2381/NW_raw/en-tout-l-institut-lumiere-aura-projete-huit-films-gratuits-cet-ete-place-ambroise-courtois-photo-joel-philippon-1538576399.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:#dd3300;
    background-size: 100% 100%;
    color: #FFFFFF;
    max-width: 100%;
    height: 100%;
    opacity: 0.7
}
  
.bottomright {
  position: absolute;
  bottom: 8px;
  right: 40%;
  left: 50%;
  font-size: 18px;
  transform: translate(-50%, -50%);
  font-color: 006C67;
}

.title {
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  font-color: #12130F;
}

.presentation {
  margin-right: 10px;
  margin-left : 10px;
}

.h1-presentation {
  text-align: center;
}

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.container-movie {
  display: grid; 
  grid-template-columns: 1.4fr 0.4fr 1.2fr; 
  grid-template-rows: 2.6fr 0.5fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "d e f"
    ". . ."
    ". . ."; 
}
.d { grid-area: d; }
.f { grid-area: f; }
.e { grid-area: e; }

.movie-synopsis {
   margin-right: 50px;
   margin-left : 50px;
}

 .bottom-left {
    bottom: 0;
    left: 0;
  }

.synopsis {
  margin-top: 10px;
  margin-bottom: 10px;
}

index-movie-title {
  margin-top: 10px;
  padding-top: 10px;
}

booking-movie-title {
  margin-bottom: 10px;
  padding-bottom: 10px; 
}
