.topnav {
  background-color: #F4FAFF;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #12130f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #a3320b;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #a3320b;
}
